# ignores the node modules dir since it will be installed in different environment and dependencies
node_modules/

#ignores dev notes
osmium_dev_notes/

#ignore content of team_pic and user_pic
public/team_pic/
public/user_pic/

#credential files
.env