<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('component/header',{profile: false, title: 'Lobby List', description: 'Find and compete against other teams and players in lobby.', url: '/lobbies'}) %>


  <!-- External Files and Plugins -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/discordInvite.css" />
</head>

<body>

<%- include('component/navbar',{selected: 'lobby'}) %>

<div class="card m-3">
  <div class="card-body">
    <h2 class="card-title">
      Lobby system is being brain stormed!
    </h2>
    <h6 class="card-subtitle mb-2 text-muted">Idea is one thing, implementation is another. Stay tuned!</h6>
    <hr>
    <img class="img-fluid mt-1 mb-2" src="img/qixalite_long.jpg" alt="Card image">
    <p class="card-text">
      While lobby system is under construction, recommend checking out <strong>Qixalite</strong>!
      Qixalite is a community project made to simplify and enhance the gaming experience through various
      provided service, such as game server booking and upcoming lobby system.<br>
      Currently we are testing out our self-hosted lobby system, come and help!
    </p>
    <div id="discordInviteBox"></div>
  </div>
</div>

<!-- <%- include('component/footer',{}) %> -->

<!-- Visual Scripts -->
<script src="js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
  integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c7e18d8ebc.js" crossorigin="anonymous"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script src="js/discordInvite.js"></script>
<script>
  discordInvite.init({
    inviteCode: 'qixalite',
    title: 'Qixalite',
  });
  discordInvite.render();
</script>

</body>
</html>