<html>
<title>Test Page</title>
<body>
  <form action='/' method='get'>
            <button>Back</button>
  </form>
  <p>Query Testing</p>
  <table border="1" cellpadding="7" cellspacing="7">
    <tr>
      <th width="50px">No</th>
      <th>ID</th>
      <th>Name</th>
      <th>Desc</th>
    </tr>
    <% if(data.length){ 
    for(var i = 0;i < data.length;i++) { %>
    <tr>
      <td><%=(i+1)%></td>
      <td><%=data[i].test_id%></td>
      <td><%=data[i].test_name%></td>
      <td><%=data[i].test_desc%></td>
    </tr>
    <% }
  }else{ %>
    <tr>
      <td colspan="3">No user</td>
    </tr>
    <% } %>
  </table>
</body>

</html>