<footer class="text-center text-lg-start bg-dark text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="container text-center text-md-start">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
                    <a
                        href="https://www.digitalocean.com/?refcode=4af680f9f3f2&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                            src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%203.svg"
                            alt="DigitalOcean Referral Badge" /></a>
                </div>
            </div>
        </div>
    </section>
</footer>