<div class="card m-3">
  <div class="card-body">
    <h2 class="card-title">
      Difficulties in creating in-game lobby? Try qix!
    </h2>
    <h6 class="card-subtitle mb-2 text-muted">Team up in no time.</h6>
    <hr>
    <img class="img-fluid mt-1 mb-2" src="img/qixalite_long.jpg" alt="Card image">
    <p class="card-text">
      Check out <strong>Qixalite</strong>!
      Qixalite is a community project made to simplify and enhance the gaming experience through various
      provided service, such as game server booking and upcoming lobby system.<br>
      Currently we are testing out our self-hosted lobby system, come and help!
    </p>
    <div id="discordInviteBox"></div>
  </div>
</div>